<div class="detail detail1">
	<div class="image"><%=icon_for_profile(@profile, 'small')%></div>
   <div class="title"><%=@profile.full_name%></div>
   <div class="subtitle"><%= I18n.t('tog_social.profiles.model.username') %>: <%=@profile.user.login%></div>

	<% if current_user %>
		<div>
	    	<% form_for :shared_object, @shared_object, :url => member_create_shared_object_path(@profile.user.groups.first.id), :html => {:method => "post"} do |f| -%>
				<fieldset>
					<h2>Share, New Post <span style="font-weight:normal;font-size:80%;"> - message, blog, link etc.</span></h2>
				   <p>
						<%= f.text_area :content, :class=>"fieldbox", :style=>"width:450px; height:100px;" -%>
						<div style="margin:10px 0 0 0">
							<%= submit_tag 'Share this!', :class => 'button mainaction' %>
							<span style="margin:0 0 0 20px;">
								<%= link_to 'Create using full editor', member_new_shared_object_path(@profile.user.groups.first.id) %>
							</span>
					   </div>
					</p>
				</fieldset>
	  		<% end -%>
	   </div>
	<% else %>
		<div class="portletK">
			<p><%= link_to I18n.t("tog_core.views.shared.header_options.login"), login_path %> to post something here.. </p>
		</div>
	<% end %>

	<% if @profile.user.sharings.size == 0 %>
		<div class="summary"><%= I18n.t('tog_social.profiles.site.summary') %></div>
		<div class="portlet portletC" id="portlet_moreLinks">
			<% if !@profile.user.groups.blank? %>
			<h2><span><%= I18n.t('tog_social.groups.site.title') %></span></h2>
		    <div class="portlet_content">
		      <ul>
		          <% for group in @profile.user.groups[1..-1] %>
		            <li><%= link_to group.name, group_path(group) %></li>
		          <% end %>
		      </ul>
		    </div>
			 <% else %>

			 <% end %>
		</div>
		<div class="portlet portletC" id="portlet_moreLinks">
			<h2><span><%= I18n.t('tog_social.more_links') %></span></h2>
		   <div class="portlet_content">
		   	<ul>
					<% if its_me? -%>
		         	<li><%= link_to I18n.t('tog_social.profiles.site.edit_profile'), edit_member_profile_path(@profile) %></li>
		         <% else -%>
		          	<li><%= link_to I18n.t('tog_social.profiles.site.send_message'), member_new_message_to_path(@profile.user) %></li>
		            <li><%= report_abuse_link @profile %></li>
		            <li><%= following_options(@profile) %></li>
		          <% end -%>
		    	</ul>
		   </div>
		</div>
	<% end %>

	<% for sharing in @sharings %>
		<div id="sharing_<%= sharing.id %>" style="background-color:#ddd; padding: 1em 1em 0 1em; margin: 1em 0 0 0;">
			<%= render :partial => '/shared/shared_object_properties_actions', :locals => {:sharing => sharing, :profile => @profile} %>
		</div>

		<div style="background-color:#eee; padding: 1em;">
			<% if !sharing.shareable.title.blank? %>
				<h3><%= link_to sharing.shareable.title, shared_object_path(sharing.shareable.id) %></h3>
			<% end %>
			<%= sanitize(textilize(sharing.shareable.content[0..500]), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_attributes').split) %> <%= link_to("More..",  shared_object_path(sharing.shareable.id)) unless sharing.shareable.content.size < 500 %>
		</div>

	 <% end %>
</div> <!-- /.detail1 -->    

<% content_for :sidebar do %>

<%= render :partial => "shared/profiles_portlet", :locals => { 
  :items =>  @profile.friends, 
  :style => :portletG, 
  :title => I18n.t('tog_social.profiles.model.friends'), 
  :no_items => I18n.t('tog_social.profiles.model.friends_not_found', :profile_full_name => @profile.full_name)} %>

<%= render :partial => "shared/profiles_portlet", :locals => { 
  :items =>  @profile.followers, 
  :style => :portletG, 
  :title => I18n.t('tog_social.profiles.model.followers'), 
  :no_items => I18n.t('tog_social.profiles.model.followers_not_found', :profile_full_name => @profile.full_name) } %>

<%= render :partial => "shared/profiles_portlet", :locals => { 
  :items =>  @profile.followings, 
  :style => :portletG, 
  :title => I18n.t('tog_social.profiles.model.followings'), 
  :no_items => I18n.t('tog_social.profiles.model.followings_not_found', :profile_full_name => @profile.full_name) } %>

	<% if @profile.user.sharings.size >= 1 %>
	<!--div class="summary"><%= I18n.t('tog_social.profiles.site.summary') %></div-->

	<div class="portlet portletC" id="portlet_moreLinks">
	  <% if !@profile.user.groups.blank? %>
	    <h2><span><%= I18n.t('tog_social.groups.site.title') %></span></h2>
	    <div class="portlet_content">
	      <ul>
	          <% for group in @profile.user.groups[1..-1] %>
	            <li><%= link_to group.name, group_path(group) %></li>
	          <% end %>
	      </ul>
	    </div>
	  <% else %>

	  <% end %>
	</div>

	 <div class="portlet portletC" id="portlet_moreLinks">
	     <h2><span><%= I18n.t('tog_social.more_links') %></span></h2>
	     <div class="portlet_content">
	         <ul>
	           <% if its_me? -%>
	             <li><%= link_to I18n.t('tog_social.profiles.site.edit_profile'), edit_member_profile_path(@profile) %></li>
	           <% else -%>
	             <li><%= link_to I18n.t('tog_social.profiles.site.send_message'), member_new_message_to_path(@profile.user) %></li>
	             <li><%= report_abuse_link @profile %></li>
	             <li><%= following_options(@profile) %></li>
	           <% end -%>
	         </ul>
	     </div>
	 </div>
	<% end %>
<% end %>
