<div class="detail detail1">
  <div class="image"><%= link_to image_for_group(@group, 'medium', :class=>"img"), group_path(@group) %></div>
  <div class="title"><%= link_to @group.name, group_path(@group) %></div>
  <div class="subtitle"><%= I18n.t('tog_social.groups.model.created_at') %> <%= @group.created_at.strftime("%d/%m/%Y") %>, <%= I18n.t('tog_social.groups.model.members', :count => @group.members.size) %></div>
  <div class="summary"><%= I18n.t('tog_social.groups.model.moderated_by') %>:
    <% for moderator in @group.moderators -%>
      <%=link_to moderator.profile.full_name, profile_path(moderator.profile), :class=> 'maincolor4'%>
    <% end -%>
    <br/>
    <%= I18n.t('tog_social.tags.tags') %>: 
      <% for tag in @group.tag_list %>
        <%= link_to tag.to_s, tag_groups_path(tag) %>
      <% end %>   
  </div>
  <div class="text">
    <p><%= @group.description %></p>
  </div>

	<% if current_user and @group.members.include?(current_user) %>
		<div>
	    	<% form_for :shared_object, @shared_object, :url => member_create_shared_object_path(@group.id), :html => {:method => "post"} do |f| -%>
				<fieldset>
					<h2>Share, New Post <span style="font-weight:normal;font-size:80%;"> - message, blog, link etc.</span></h2>
				   <p>
						<%= f.text_area :content, :class=>"fieldbox", :style=>"width:450px; height:100px;" -%>
						<div style="margin:10px 0 0 0">
							<%= submit_tag 'Share this!', :class => 'button mainaction' %>
							<span style="margin:0 0 0 20px;">
								<%= link_to 'Create using full editor', member_new_shared_object_path(@group.id) %>
								<!-- option only available for federated user logged in with Twitter account -->
								<% unless current_user.service_provider.nil? %>
									<% if current_user.service_provider.include? 'twitter' %>
										<span style="margin-left: 2em;"><%= check_box_tag :twitter %> Send to Twitter</span>
									<% end %>
								<% end %>
							</span>
					   </div>
				   </p>
				</fieldset>
	  		<% end -%>
	   </div>
	<% elsif current_user %>
		<div class="portletK">
			<p><%= link_to I18n.t('tog_social.groups.site.join'), join_group_path(@group) %> to post something here.. </p>
		</div>

	<% end %>
</div> <!-- /.detail1 --> 

<% for sharing in @sharings %>

	<div id="sharing_<%= sharing.id %>" style="background-color:#ddd; padding: 1em 1em 0 1em; margin: 1em 0 0 0;">
		<%= render :partial => '/shared/shared_object_properties_actions', :locals => {:sharing => sharing, :profile => @profile} %>
	</div>

	<div style="background-color:#eee; padding: 1em;">
		<% if !sharing.shareable.title.blank? %>
			<h3><%= link_to sharing.shareable.title, shared_object_path(sharing.shareable.id) %></h3>
		<% end %>
		<%= sanitize(textilize(sharing.shareable.content[0..500]), :tags => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_tags').split, :attributes => (Tog::Plugins.settings :tog_core, 'sanitized.comments.allowed_attributes').split) %> <%= link_to("More..",  shared_object_path(sharing.shareable.id)) unless sharing.shareable.content.size < 500 %>
	</div>

 <% end %>


<% content_for :sidebar do %>

<div class="portlet portletC" id="portlet_moreLinks">
    <h2><span><%= I18n.t('tog_social.more_links') %></span></h2>
    <div class="portlet_content">
        <ul>
          <% if i_am_member_of @group -%>
            <li><%= I18n.t('tog_social.groups.site.member') %><%= link_to I18n.t('tog_social.groups.site.leave'), leave_group_path(@group), :confirm => I18n.t('tog_social.groups.site.leave_confirm'), :class => 'delete' %></li>
          <% else -%>
            <li><%= link_to I18n.t('tog_social.groups.site.join'), join_group_path(@group), :class => 'add' %></li>
          <% end -%>  
        </ul>
    </div> 
</div>    

<%= render :partial => "shared/profiles_portlet", :locals => { 
  :items => @group.members.collect(&:profile), 
  :style => :portletG, 
  :title => I18n.t('tog_social.groups.model.members', :count => @group.members.size),  
  :no_items => I18n.t('tog_social.groups.model.members_not_found', :group_name => @group.name) } %>
<% end %>
